

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.target-letters {
  display: inline-block;
  margin-right: 10px;
  font-size: 30px;
  text-decoration: underline;
  visibility: visible;
}

.visible {
  visibility: visible;
  color: red;
}
